
nav, #serv-hmenu-bg, .serv-sheet, .serv-hmenu a, .serv-vmenu a, .serv-slidenavigator > a, .serv-checkbox:before, .serv-radiobutton:before
{
   -webkit-background-origin: border !important;
   -moz-background-origin: border !important;
   background-origin: border-box !important;
}

nav, #serv-hmenu-bg, .serv-sheet, .serv-slidenavigator > a, .serv-checkbox:before, .serv-radiobutton:before
{
   display: block;
   -webkit-box-sizing: border-box;
   -moz-box-sizing: border-box;
   box-sizing: border-box;
}

ul
{
   list-style-type: none;
}

ol
{
   list-style-position: inside;
}



.serv-nav:before, #serv-hmenu-bg:before, .serv-sheet:before
{
   width: 100%;
   content: " ";
   display: table;
}
 .serv-nav:after, #serv-hmenu-bg:after, .serv-sheet:after,
.cleared, .clearfix:after {
   clear: both;
   font: 0/0 serif;
   display: block;
   content: " ";
}


.serv-slidenavigator > a {
   display: inline-block;
   vertical-align: middle;
   outline-style: none;
   font-size: 1px;
}







.serv-nav
{
   background: #5A7796;
   padding:2px 2px 0;
   margin:10px auto 0;
   position: relative;
   z-index: 499;
   text-align: left;
}

ul.serv-hmenu a, ul.serv-hmenu a:link, ul.serv-hmenu a:visited, ul.serv-hmenu a:hover 
{
   outline: none;
   position: relative;
   z-index: 11;
}

ul.serv-hmenu, ul.serv-hmenu ul
{
   display: block;
   margin: 0;
   padding: 0;
   border: 0;
   list-style-type: none;
}

ul.serv-hmenu li
{
   position: relative;
   z-index: 5;
   display: block;
   float: left;
   background: none;
   margin: 0;
   padding: 0;
   border: 0;
}

ul.serv-hmenu li:hover
{
   z-index: 10000;
   white-space: normal;
}

ul.serv-hmenu:after, ul.serv-hmenu ul:after
{
   content: ".";
   height: 0;
   display: block;
   visibility: hidden;
   overflow: hidden;
   clear: both;
}

ul.serv-hmenu, ul.serv-hmenu ul 
{
   min-height: 0;
}

ul.serv-hmenu 
{
   display: inline-block;
   vertical-align: bottom;
}

.serv-nav:before 
{
   content:' ';
}

.serv-hmenu-extra1
{
   position: relative;
   display: block;
   float: left;
   width: auto;
   height: auto;
   background-position: center;
}

.serv-hmenu-extra2
{
   position: relative;
   display: block;
   float: right;
   width: auto;
   height: auto;
   background-position: center;
}

.serv-hmenu
{
   float: left;
}

.serv-menuitemcontainer
{
   margin:0 auto;
}
ul.serv-hmenu>li {
   margin-left: 4px;
}
ul.serv-hmenu>li:first-child {
   margin-left: 2px;
}
ul.serv-hmenu>li:last-child, ul.serv-hmenu>li.last-child {
   margin-right: 2px;
}

ul.serv-hmenu>li>a
{
   background: #3F5369;
   -webkit-border-radius:4px 0 0;
   -moz-border-radius:4px 0 0;
   border-radius:4px 0 0;
   border:1px solid #5F7081;
   border-bottom:none;
   padding:0 12px;
   margin:0 auto;
   position: relative;
   display: block;
   height: 20px;
   cursor: pointer;
   text-decoration: none;
   color: #FFFFFF;
   line-height: 20px;
   text-align: center;
}

.serv-hmenu a, 
.serv-hmenu a:link, 
.serv-hmenu a:visited, 
.serv-hmenu a.active, 
.serv-hmenu a:hover
{
   font-size: 11px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   font-weight: normal;
   font-style: normal;
   text-decoration: none;
   font-variant: normal;
   text-align: left;
}

ul.serv-hmenu>li>a.active
{
   background: #FFFFFF;
   -webkit-border-radius:4px 0 0;
   -moz-border-radius:4px 0 0;
   border-radius:4px 0 0;
   border:1px solid #A3B4C8;
   border-bottom:none;
   padding:0 12px;
   margin:0 auto;
   color: #000000;
   text-decoration: none;
}

ul.serv-hmenu>li>a:visited, 
ul.serv-hmenu>li>a:hover, 
ul.serv-hmenu>li:hover>a {
   text-decoration: none;
}

ul.serv-hmenu>li>a:hover, .desktop ul.serv-hmenu>li:hover>a
{
   background: #FAE04C;
   -webkit-border-radius:4px 0 0;
   -moz-border-radius:4px 0 0;
   border-radius:4px 0 0;
   border:1px solid #D74B04;
   border-bottom:none;
   padding:0 12px;
   margin:0 auto;
}
ul.serv-hmenu>li>a:hover, 
.desktop ul.serv-hmenu>li:hover>a {
   color: #732802;
   text-decoration: none;
}

ul.serv-hmenu li li a
{
   background: #B9C2CB;
   background: transparent;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   padding:0 8px;
   margin:0 auto;
}
ul.serv-hmenu li li 
{
   float: none;
   width: auto;
   margin-top: 0;
   margin-bottom: 0;
}

.desktop ul.serv-hmenu li li ul>li:first-child 
{
   margin-top: 0;
}

ul.serv-hmenu li li ul>li:last-child 
{
   margin-bottom: 0;
}

.serv-hmenu ul a
{
   display: block;
   white-space: nowrap;
   height: 21px;
   min-width: 7em;
   border: 0 solid transparent;
   text-align: left;
   line-height: 21px;
   color: #6A7D90;
   font-size: 10px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

.serv-hmenu ul a:link, 
.serv-hmenu ul a:visited, 
.serv-hmenu ul a.active, 
.serv-hmenu ul a:hover
{
   text-align: left;
   line-height: 21px;
   color: #6A7D90;
   font-size: 10px;
   font-family: Arial, 'Arial Unicode MS', Helvetica, Sans-Serif;
   text-decoration: none;
   margin:0;
}

ul.serv-hmenu ul li a:hover, .desktop ul.serv-hmenu ul li:hover>a
{
   background: #FFFFFF;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   margin:0 auto;
}
.serv-hmenu ul a:hover
{
   text-decoration: none;
}

.serv-hmenu ul li a:hover
{
   color: #F05305;
}

.desktop .serv-hmenu ul li:hover>a
{
   color: #F05305;
}

ul.serv-hmenu ul:before
{
   background: #EFF2F5;
   -webkit-border-radius:4px;
   -moz-border-radius:4px;
   border-radius:4px;
   border:1px solid #CFD8E2;
   margin:0 auto;
   display: block;
   position: absolute;
   content: ' ';
   z-index: 1;
}
.desktop ul.serv-hmenu li:hover>ul {
   visibility: visible;
   top: 100%;
}
.desktop ul.serv-hmenu li li:hover>ul {
   top: 0;
   left: 100%;
}

ul.serv-hmenu ul
{
   visibility: hidden;
   position: absolute;
   z-index: 10;
   left: 0;
   top: 0;
   background-image: url('../images/spacer.gif');
}

.desktop ul.serv-hmenu>li>ul
{
   padding: 12px 32px 32px 32px;
   margin: -10px 0 0 -30px;
}

.desktop ul.serv-hmenu ul ul
{
   padding: 32px 32px 32px 14px;
   margin: -32px 0 0 -9px;
}

.desktop ul.serv-hmenu ul.serv-hmenu-left-to-right 
{
   right: auto;
   left: 0;
   margin: -10px 0 0 -30px;
}

.desktop ul.serv-hmenu ul.serv-hmenu-right-to-left 
{
   left: auto;
   right: 0;
   margin: -10px -30px 0 0;
}

.desktop ul.serv-hmenu li li:hover>ul.serv-hmenu-left-to-right {
   right: auto;
   left: 100%;
}
.desktop ul.serv-hmenu li li:hover>ul.serv-hmenu-right-to-left {
   left: auto;
   right: 100%;
}

.desktop ul.serv-hmenu ul ul.serv-hmenu-left-to-right
{
   right: auto;
   left: 0;
   padding: 32px 32px 32px 14px;
   margin: -32px 0 0 -9px;
}

.desktop ul.serv-hmenu ul ul.serv-hmenu-right-to-left
{
   left: auto;
   right: 0;
   padding: 32px 14px 32px 32px;
   margin: -32px -9px 0 0;
}

.desktop ul.serv-hmenu li ul>li:first-child {
   margin-top: 0;
}
.desktop ul.serv-hmenu li ul>li:last-child {
   margin-bottom: 0;
}

.desktop ul.serv-hmenu ul ul:before
{
   border-radius: 4px;
   top: 30px;
   bottom: 30px;
   right: 30px;
   left: 12px;
}

.desktop ul.serv-hmenu>li>ul:before
{
   top: 10px;
   right: 30px;
   bottom: 30px;
   left: 30px;
}

.desktop ul.serv-hmenu>li>ul.serv-hmenu-left-to-right:before {
   right: 30px;
   left: 30px;
}
.desktop ul.serv-hmenu>li>ul.serv-hmenu-right-to-left:before {
   right: 30px;
   left: 30px;
}
.desktop ul.serv-hmenu ul ul.serv-hmenu-left-to-right:before {
   right: 30px;
   left: 12px;
}
.desktop ul.serv-hmenu ul ul.serv-hmenu-right-to-left:before {
   right: 12px;
   left: 30px;
}

